.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Navbar {
  display: flex ;
  justify-content: space-around;
  background-image: linear-gradient(#3c33ff, #33daff);
  opacity: 85%;
  font-size: 20;
  margin: 30;
}

.Productos{
  margin-top: 20px;
  margin-right: 60px;
}

.Titulo {
  margin-left: 5px;
}

.Cont{
  margin-left: 20px;
}

.botones {
  background-color:  #a3e4d7;
  border-radius: 10%;
  margin-right: 10px;
  border-color: darkcyan;
  opacity: 80%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: none;
}

.cart {
  margin-right: 20px;
  height: 50px;
}

.num {
  margin-top: -40px;
  margin-right: -80px;
}

.botones:hover{
  background-color: #33a2ff;
}

.botones {cursor: pointer;}

.cont {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.cont-operacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  border: 1px solid  #b2babb ;
  height: 30px;
  width: 200px;
  justify-content: center;
  margin-top: 100px;
  border-radius: 5%;
}

.botonMas{
  margin-right: 60px;
  color: #334eff;
  background-color: white;
  height: 30px;
  border: none;
}
.botonMas:hover{
  color: #33a2ff;
}
.botonMas {cursor: pointer;}
.botonMas:active{
  color: #4633ff;
}

.botonMenos{
  margin-left: 60px;
  color: #334eff;
  background-color: white;
  height: 30px;
  border: none;
}
.botonMenos:hover{
  color: #33a2ff;
}
.botonMenos {cursor: pointer;}
.botonMenos:active{
  color: #4633ff;
}

.botonAdd {
  margin-top: 100px;
  border: 1px solid #334eff;
  height: 30px;
  width: 200px;
  border-radius: 5%;
  background-color: white;
  color: #334eff;
}

.botonAdd:hover{
  color: #33a2ff;
  border: 1px solid #33a2ff;
}

.botonAdd {cursor: pointer;}
.botonAdd:active{
  color: #4633ff;
  border-color: #4633ff;
}

